In [15]:
# 판다스 라이브러리 불러오기
import pandas as pd

# 판다스의 데이터 프레임을 생성하기.
names=["Bob","Jessica","Mary","John","Mel"]
births=[965,155,77,578,973]
custom=[1,5,25,13,23232]

BabyDataSet = list(zip(names,births))
df = pd.DataFrame(data=BabyDataSet,columns=['Names','Births'])

# Births 열이 100보다 큰 데이터를 선택합니다.
df[df['Births']>100]

     Names  Births
0      Bob     965
1  Jessica     155
3     John     578
4      Mel     973